<h1 mat-dialog-title>
  <span *ngIf="create">Create Video</span>
  <span *ngIf="!create">Edit Video</span>
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']">
      <mat-error *ngIf="form.controls['title'].hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
        Title is cannot exceed 25 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Description" type="text" [formControl]="form.controls['description']">
      <mat-error *ngIf="form.controls['description'].hasError('required')">
        Description is required
      </mat-error>
      <mat-error *ngIf="form.controls['description'].hasError('maxlength')">
        Description is cannot exceed 500 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Link" type="url" [formControl]="form.controls['link']">
      <mat-error *ngIf="form.controls['link'].hasError('required')">
        Link is required
      </mat-error>
      <mat-error *ngIf="form.controls['link'].hasError('pattern')">
        Link must be a valid url format
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Ok</button>
    <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
