@import "../../theme";
:host {
  flex-shrink: 0;
  margin-top: 53px;
}

.foot {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.foot-brand {
  width: 50%
}
.foot-ul {
  width: 50%;
  font-size: .7rem;
}

.ul-link {
  font-family: Syncopate, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  cursor: pointer;
}

.ul-link a {
  color: #fff;
}

.ul-link a:hover {
  color: #ffeb01
}

.icon {
  font-family: Icon;
  color: #ffeb01;
  font-size: 2rem;
  margin: 0 .5rem;
}

.icon:hover {
  color: rgba(255, 0, 0, 1);
}

.top-level {
  width: 100vw;
  text-align: center;
}

.docs-level {
  width: 100vw;
  padding: 1rem 0;
  text-align: center;
}

.docs-level a {
  margin: 0 1rem;
}

a.doc-link {
  color: #fff;
  text-decoration: none;
}

a.doc-link:hover {
  color: #ffeb01
}

.link-container {
  margin: 0 auto
}

a.socialLink {
  text-decoration: none;
}