<nav class="docs-navbar-header">
  <a aria-label="Laggin-Out" class='first-link' mat-button [routerLink]="['/']">
    <span class="mat-button-wrapper">
      <span>Home</span>
    </span>
  </a>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/videos']">
    <span class="mat-button-wrapper">Videos</span>
  </a>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/articles']">
    <span class="mat-button-wrapper">Articles</span>
  </a>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/social']">
    <span class="mat-button-wrapper">Links</span>
  </a>
  <!-- <a class="docs-navbar-hide-small" mat-button [routerLink]="['/twitch']">
    <span class="mat-button-wrapper">Twitch</span>
  </a> -->
  <div class="flex-spacer"></div>
  <span *ngIf="auth.user$ | async; then accountBig else loginBig"></span>
  <span *ngIf="auth.user$ | async; then accountSmall else loginSmall"></span>
  <button *ngIf="canAccessAdmin() || canAccessEditor()" mat-icon-button [matMenuTriggerFor]="excessMenu" color="accent">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #excessMenu="matMenu" xPosition="before">
    <button *ngIf="canAccessAdmin()" mat-menu-item [matMenuTriggerFor]="adminMenu">Admin</button>
    <button *ngIf="canAccessEditor()" mat-menu-item [routerLink]="['/editor']">Editor</button>
  </mat-menu>
  <mat-menu #adminMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="['/admin/videos']">
      <mat-icon>videocam</mat-icon>
      <span>Videos</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin/playlists']">
      <mat-icon>dashboard</mat-icon>
      <span>Playlists</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin/articles']">
      <mat-icon>assignment</mat-icon>
      <span>Articles</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin/users']">
      <mat-icon>supervisor_account</mat-icon>
      <span>Users</span>
    </button>
  </mat-menu>
  <div class='right-spacer hide-sm hide-xs'></div>
  <img src='assets/images/aniLogo.gif' class='top-logo hide-sm hide-xs' />
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a class="docs-navbar-link" mat-button [routerLink]="['/articles']">
    <span class="mat-button-wrapper">Articles</span>
  </a>
  <a class="docs-navbar-link" mat-button [routerLink]="['/videos']">
    <span class="mat-button-wrapper">Videos</span>
  </a>
  <a class="docs-navbar-link" mat-button [routerLink]="['/social']">
    <span class="mat-button-wrapper">Links</span>
  </a>
  <!-- <a class="docs-navbar-link" mat-button [routerLink]="['/twitch']">
    <span class="mat-button-wrapper">Twitch</span>
  </a> -->
</nav>

<ng-template #loginBig>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/account/login']">
    <span class="mat-button-wrapper">
      <mat-icon aria-label="Contact">account_circle</mat-icon>
      <span>Login</span>
    </span>
  </a>
</ng-template>
<ng-template #accountBig>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/account']">
    <span class="mat-button-wrapper">
      <mat-icon aria-label="Contact">account_circle</mat-icon>
      <span>Account</span>
    </span>
  </a>
</ng-template>

<ng-template #loginSmall>
  <a class="docs-navbar-show-small" mat-button [routerLink]="['/account/login']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
</ng-template>
<ng-template #accountSmall>
  <a class="docs-navbar-show-small" mat-button [routerLink]="['/account']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
</ng-template>
