<nav class="docs-navbar-header">
  <img src='assets/images/aniLogo.gif' class='img-responsive top-logo' />
  <a aria-label="Laggin-Out" class='first-link' mat-button [routerLink]="['/']">
    <span class="mat-button-wrapper">
      <span>Home</span>
    </span>
  </a>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/articles']">
    <span class="mat-button-wrapper">Articles</span>
  </a>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/videos']">
    <span class="mat-button-wrapper">Videos</span>
  </a>
  <a *ngIf="canAccessAdmin()" class="docs-navbar-hide-small" mat-button [routerLink]="['/admin']">
    <span class="mat-button-wrapper">Admin</span>
  </a>
  <div class="flex-spacer"></div>
  <a class="docs-navbar-hide-small" mat-button [routerLink]="['/account']">
    <span class="mat-button-wrapper">
      <span *ngIf="auth.user$ | async; then account else login"></span>
    </span>
  </a>
  <a class="docs-navbar-show-small" mat-button [routerLink]="['/account']">
    <span *ngIf="auth.user$ | async; then account else login"></span>
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a class="docs-navbar-link" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/articles']">
    <span class="mat-button-wrapper">Articles</span>
  </a>
  <a class="docs-navbar-link" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/videos']">
    <span class="mat-button-wrapper">Videos</span>
  </a>
</nav>

<ng-template #login>
  <span>Login</span>
</ng-template>
<ng-template #account>
  <span>Account</span>
</ng-template>