@import "../../theme";
.mat-card-image {
  max-width: 400px;
  max-height: 400px;
}

.content {
  margin-top: 2rem;
}

.mat-card-image:first-child {
  margin-top: 0 !important;
}

.mat-card {
  background: mat-color($candy-app-accent, 100);
  width: 400px;
}

.mat-card-header .mat-icon {
  font-size: 40px;
}

.mat-card-image {
  max-width: 400px;
  max-height: 400px;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
  min-width: 200px;
}

.mat-expansion-panel-header-description {
  font-weight: 500;
}
