<div id="top" class="layout-column layout-align-start-stretch">
  <header>
    <div class="txt-center layout-column layout-align-center-center h-100 p-20">
      <h1 color="primary" class="righteous">Our Streamers</h1>
    </div>
  </header>
  <div class="layout-row content">
    <div class="flex-5 flex-gt-sm-15"></div>
    <div class="flex-90 flex-gt-sm-70">
      <div class="layout-column layout-gt-sm-row layout-align-center-center layout-wrap">
        <div class="flex-33" *ngFor="let streamer of streamers">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>record_voice_over</mat-icon>
              </div>
              <mat-card-title>{{streamer.name}}</mat-card-title>
              <mat-card-subtitle>streamer</mat-card-subtitle>
            </mat-card-header>
            <div class="txt-center">
              <img mat-card-image src="{{streamer.banner}}">
            </div>
            <mat-card-actions>
              <button mat-raised-button [routerLink]="['/admin/videos']" color="accent">GO</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="flex-5 flex-gt-sm-15"></div>
  </div>
</div>
