<div class="layout-row">
  <div class="flex-5 flex-gt-xs-15"></div>
  <div class="flex-90 flex-gt-xs-70 mat-elevation-z4">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Users</span>
        <span class="spacer"></span>

        <!-- User Functions -->
        <button mat-raised-button *ngIf="selection.selected.length > 0 && isRole('editor')" color="warn" (click)="userDialog(false, 'editor')">
          Remove Editor
        </button>
        <button mat-raised-button *ngIf="selection.selected.length > 0 && isRole('admin')" color="warn" (click)="userDialog(false, 'admin')">
          Remove Admin
        </button>
        <button mat-raised-button *ngIf="selection.selected.length > 0 && !isRole('editor')" color="primary" (click)="userDialog(true, 'editor')">
          Set Editor
        </button>
        <button mat-raised-button *ngIf="selection.selected.length > 0 && !isRole('admin')" color="primary" (click)="userDialog(true, 'admin')">
          Set Admin
        </button>

        <button class="m-l-15" mat-button color="primary" (click)="downloadMailingList()">
          Mailing List
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="form-padding">
      <div class="layout-column layout-gt-sm-row">
        <div class="full-width">
          <mat-table #table matSort [dataSource]="dataSource">

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.profile ? element.profile.name : element.displayName}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="roles">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip *ngIf="element.roles?.subscriber" color="accent" selected="true">Subscriber</mat-chip>
                  <mat-chip *ngIf="element.roles?.editor" color="primary" selected="true">Editor</mat-chip>
                  <mat-chip *ngIf="element.roles?.admin" color="warn" selected="true">Admin</mat-chip>
                </mat-chip-list>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-5 flex-gt-xs-15"></div>
</div>
