<div class="layout-row">
  <div class="flex-5 flex-gt-xs-15"></div>
  <div class="flex-90 flex-gt-xs-70 mat-elevation-z4">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Admin Videos</span>
        <span class="spacer"></span>

        <!-- Video Functions -->
        <button mat-raised-button color="primary" (click)="videoDialog(true)">
          Create
        </button>
        <button mat-raised-button *ngIf="selection.selected.length == 1" color="primary" (click)="videoDialog(false)">
          Edit
        </button>
        <button mat-raised-button *ngIf="selection.selected.length == 1" color="accent" (click)="hightlightDialog()">
          {{selection.selected[0].highlight ? 'Unhighlight' : 'Highlight'}}
        </button>
        <button mat-raised-button *ngIf="selection.selected.length > 0" color="warn" (click)="videoDeleteDialog()">
          Delete
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div class="form-padding">
      <div class="layout-column layout-gt-sm-row">
        <div class="full-width">
          <div class="header">
            <mat-form-field>
              <input matInput (keyup)="applyVideoFilter($event.target.value)" placeholder="Filter Videos">
            </mat-form-field>
          </div>
          <mat-table #table matSort [dataSource]="dataSource">

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.description | truncate : 30 }} </mat-cell>
            </ng-container>

            <!-- Link Column -->
            <ng-container matColumnDef="link">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Link </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a href="{{element.link}}" target="_blank">Link</a>
              </mat-cell>
            </ng-container>

            <!-- Highlight Column -->
            <ng-container matColumnDef="highlight">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Highlight </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button>
                  <mat-icon *ngIf="element.highlight">radio_button_checked</mat-icon>
                  <mat-icon *ngIf="!element.highlight" color="primary">radio_button_unchecked</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': row.highlight}"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-5 flex-gt-xs-15"></div>
</div>
