<h1 mat-dialog-title>
  <span>Edit User</span>
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['displayName']">
      <mat-error *ngIf="form.controls['displayName'].hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="form.controls['displayName'].hasError('maxlength')">
        Name is cannot exceed 30 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" type="text" [formControl]="form.controls['email']">
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        Email must be a valid format
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Phone" type="phone" [formControl]="form.controls['phoneNumber']">
      <mat-error *ngIf="form.controls['phoneNumber'].hasError('pattern')">
        Phone must be numeric
      </mat-error>
      <mat-error *ngIf="form.controls['phoneNumber'].hasError('maxlength')">
        Phone must be 10 digits
      </mat-error>
      <mat-error *ngIf="form.controls['phoneNumber'].hasError('minlength')">
        Phone must be 10 digits
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Photo URL" type="url" [formControl]="form.controls['photoURL']">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Ok</button>
    <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
