@import "../../theme";
h3 span {
  cursor: pointer;
}

h3 span:hover {
  text-decoration: underline;
}

h3 .mat-icon {
  vertical-align: middle;
}

.mat-card {
  background-color: mat-color($candy-app-primary, 100);
}
