<div class="layout-row">
  <div class="flex-66 flex-offset-15">
    <h3>
      <span (click)="back()">Videos</span>
      <mat-icon>chevron_right</mat-icon> Edit</h3>
    <mat-card>
      <form [formGroup]="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']" [(ngModel)]="newVideo.title">
          <mat-error *ngIf="form.controls['title'].hasError('required')">
            Title is required
          </mat-error>
          <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
            Title is cannot exceed 25 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Link" type="url" [formControl]="form.controls['link']" [(ngModel)]="newVideo.link">
          <mat-error *ngIf="form.controls['link'].hasError('required')">
            Link is required
          </mat-error>
          <mat-error *ngIf="form.controls['link'].hasError('pattern')">
            Link must be a valid url format
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Description" type="text" [formControl]="form.controls['description']" [(ngModel)]="newVideo.description">
          <mat-error *ngIf="form.controls['description'].hasError('required')">
            Description is required
          </mat-error>
          <mat-error *ngIf="form.controls['description'].hasError('maxlength')">
            Description is cannot exceed 500 characters
          </mat-error>
        </mat-form-field>
        <div class="layout-row layout-align-end-center m-v-25">
          <button mat-raised-button color="primary" (click)="addVideo()" [disabled]="!form.valid">UPDATE</button>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="flex"></div>
</div>
