@import "../../theme";
.back {
  cursor: pointer;
}

.back:hover {
  text-decoration: underline;
}

.form-padding {
  padding: 2em;
  background-color: mat-color($candy-app-primary, 100);
}

.actions button {
  margin: 0 8px;
}

.actions button:last-of-type {
  margin-right: 0;
}
