<div class='vids-body'>
  <div class='vids-main'>
    <div class='vid-container vid-container-head'>
      <h2>Newest Video</h2>
      <iframe width="600" height="340" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=LagginOut"
        frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>

<div class='vids-title'>
  <br />
  <h2>Playlists</h2>
</div>

<div class='vids-body'>
  <div class='vids-main'>
    <div *ngFor='let list of playLists; let i = index' class='vid-container'>
      <h4>{{list.snippet.title}}</h4>
      <a href='{{playListURLs[i]}}' target='_blank'>
        <img src='{{list.snippet.thumbnails.high.url}}' class='img-responsive' alt='{{list.snippet.title}}'>
      </a>
      <p>{{list.snippet.description}}</p>
    </div>
  </div>
</div>

<div class='vids-title'>
  <br />
  <h2>Most Recent Videos</h2>
</div>

<div class='vids-body'>
  <div class='vids-main'>
    <div *ngFor='let video of videos; let i = index' class='vid-container'>
      <h4>{{video.snippet.title}}</h4>
      <p>{{video.snippet.publishedAt}}</p>
      <a href='https://www.youtube.com/watch?v={{video.id.videoId}}' target='_blank'>
        <img src='{{video.snippet.thumbnails.high.url}}' class='img-responsive' alt='{{video.snippet.title}}'>
      </a>
    </div>
  </div>
</div>