.twitch-container {
  background: #000;
  max-width: 1600px;
  margin: 0 auto;
}

.mat-toolbar {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  background: transparent !important;
}

.mat-toolbar-row {
  color: rgba(245, 245, 245, 1);
}

.icon {
  font-family: Icon;
  color: #ffeb01;
  font-size: 2rem;
  margin: 0 .5rem;
}

.streamer,
.none {
  margin-left: 1rem;
}

.streamer {
  cursor: pointer;
  max-height: 41px;
  line-height: 20px;
  font-size: 14px;
}

.streamer img {
  max-height: 39px;
  vertical-align: middle;
  outline: whitesmoke solid 2px;
  position: absolute;
  left: auto;
}

.streamer .streamer_name {
  padding-left: 5px;
  margin-left: 39px;
}

.streamer .game-title {
  font-size: 12px;
  margin-left: 45px;
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  float: left;
  margin: 0 15px;
}

.spinner>div {
  background-color: rgba(245, 245, 245, 0.8);
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 3px 0 0;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
