<mat-toolbar *ngIf="!loaded">
  <mat-toolbar-row>
    <span>Live On Twitch:</span>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar *ngIf="loaded">
  <mat-toolbar-row>
    <span>Live On Twitch:</span>
    <span *ngFor="let stream of liveStreaming.streams">
      <a mat-button href="{{stream.channel.url}}" target="_blank">
        <span class="mat-button-wrapper">
          <mat-icon>record_voice_over</mat-icon>
          <span>{{stream.channel.display_name}}</span>
        </span>
      </a>
    </span>
    <span class="none" *ngIf="liveStreaming.streams.length == 0">
      none
    </span>
  </mat-toolbar-row>
</mat-toolbar>
