<div id="top" class="layout-column layout-align-start-stretch">
  <header>
    <div class="txt-center layout-column layout-align-center-center h-100 p-20">
      <h1 color="primary" class="righteous">ADMIN</h1>
    </div>
  </header>
  <div class="layout-row">
    <div class="flex-5 flex-gt-sm-15"></div>
    <div class="flex-90 flex-gt-sm-70">
      <div class="layout-column layout-gt-sm-row layout-align-center-center layout-wrap">
        <div class="flex-33">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>videocam</mat-icon>
              </div>
              <mat-card-title>Videos</mat-card-title>
              <mat-card-subtitle>video management</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Manage all videos on the site and highlight top videos for front page</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button [routerLink]="['/admin/videos']" color="accent">GO</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="flex-33">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>dashboard</mat-icon>
              </div>
              <mat-card-title>Playlists</mat-card-title>
              <mat-card-subtitle>playlist management</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Tie video playlists to site with a pointer link</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button [routerLink]="['/admin/playlists']" color="accent">GO</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="flex-33">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>assignment</mat-icon>
              </div>
              <mat-card-title>Articles</mat-card-title>
              <mat-card-subtitle>article management</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Here you're able to access and manage all articles</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button [routerLink]="['/admin/articles']" color="accent">GO</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="flex-33">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>supervisor_account</mat-icon>
              </div>
              <mat-card-title>Users</mat-card-title>
              <mat-card-subtitle>user management</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Access and manage all site users, set roles, and download mailing list</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button [routerLink]="['/admin/users']" color="accent">GO</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="flex-5 flex-gt-sm-15"></div>
  </div>
</div>
