.articles-header {
  max-width: 1600px;
  width: 100%;
  margin: 2rem auto;
}

.header-logo-lg {
  max-width: 60vw;
}

.articles-body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  // min-height: calc(100vh - 13rem);
}
.articles-main {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
.articles-main > div {
  box-sizing: border-box;
  width: 21rem;
  flex-grow: 1;
  margin: 0;
  text-align: center;
  padding: 1rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.articles-main > div:hover {
  background-color: #2e2e2e;
}

.articles-feature {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.articles-feature > div:hover {
  background-color: #2e2e2e;
}

.article-container {
  position: relative;
  flex-grow: 1;
  overflow: hidden;

}
.article-container-lead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.article-feature-img {
  max-width: 25rem;
}
.article-feature-info {
  flex-grow: 3;
  padding-left: 1rem;
}
.article-feature-info h4 {
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.article-feature-info h5 {
  font-size: 1rem;
  margin:0;
}
.lead-excerpt {
  font-weight: 400;
}
.article-excerpt {
  text-align: left;
}
.excerpt-container {
  height: 2rem;
  line-height: 1rem;
}
.article-date {
  text-align: left;
  font-size:0.7rem;
}
.article-image {
  max-width: 80%;
  margin:1.5rem 0;
}
.in-article-img {
  max-width: 100%
}
.article-title {
  width: 100%;
  font-size: 1.5;
  text-align: left;
  padding: 0;
  margin: 0;
}
.title-container {
  height: 2rem;
  line-height: 1rem;
}
.article-lead {
  width: 100%;
  text-align: left;
}
.article-lead-image {
  text-align: left;
}
// .article-lead img {
//   max-width:100%;
// }

.size-large {
  max-height: 280px !important;
  width: 500px;
}

.articles-sort {
  margin-left: 1rem;
  width: 12rem;
  color:#fff;
}

.fadeout {
  position: absolute; 
  bottom: 0em;
  width:100%;
  height: 4em;
  margin: 0 -1rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 90%
  );
}
.open-modal {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 2.5rem);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.open-modal a {
  max-width: 100%;
}

.open-article {
  position: relative;
  padding: 1rem;
  max-width: 1500px;
  background-color:#000;
  color: #fff;
  margin: 0 auto 12rem;
  overflow-y: auto;
}

.open-article img {
  max-width: 90vw;
}