<div class='open-modal' *ngIf='articleOpen'>
  <div class='open-article'>
    <a class='btn button' (click)='closeArticle()'>Close</a>
    <p class='article-date'>{{openArticle?.date}}</p>
    <h4 class='article-title'>{{openArticle?.title}}</h4>
    <p innerHTML={{openArticle?.content}}></p>
    <a class='btn button' (click)='closeArticle()'>Close</a>
  </div>
</div>

<div class='layout-column height-fix'>
  <header class='m-0a main-header'>
    <div>
      <img src='/assets/images/logoFull.png' class='img-responsive header-logo w-25 flt-rt' />
    </div>
  </header>
</div>

<div class='articles-body'>
  <div class='articles-main'>
    <div class='article-container-lead' (click)='handleOpenArticle(0)'>
      <div class='txt-center'><h2>Newest Article</h2></div>
      <p class='article-date'>{{articlesTop[0]?.date}}</p>
      <br />
      <h4 class='article-title'>{{articlesTop[0]?.title}}</h4>
      <div class='article-lead' innerHTML={{articlesTop[0]?.content}}></div>
      <div class='fadeout'></div>
    </div>
  </div>
</div>

<div class='articles-body'>
  <div class='articles-main'>
    <div *ngFor='let article of articlesTop; let i = index' class='article-container' (click)='handleOpenArticle(i)'>
      <p class='article-date'>{{article.date}}</p>
      <br />
      <h4 class='article-title'>{{article.title}}</h4>
      <div class='article-lead' innerHTML={{article.content}}></div>
      <div class='fadeout'></div>
    </div>
  </div>
</div>
