<div class='open-modal' *ngIf='articleOpen'>
  <div class='open-article'>
    <a class='btn button mat-raised-button mat-primary' (click)='closeArticle()'>Close</a>
    <p class='article-date'>{{openArticle?.date}}</p>
    <h4 class='article-title'>{{openArticle?.title}}</h4>
    <p innerHTML={{openArticle?.content}}></p>
    <a class='btn button mat-raised-button mat-primary' (click)='closeArticle()'>Close</a>
  </div>
</div>

<div class='layout-column height-fix'>
  <header class='m-0a main-header'>
    <div>
        <img src='assets/images/letterhead_yellow_website_L.png' class='img-responsive hide-md hide-lg hide-xl header-logo' />
        <img src='assets/images/letterhead_yellow_website_L.png' class='img-responsive hide-xs hide-sm header-logo-lg' />
    </div>
  </header>
</div>

<div class='articles-body'>
  <div class='articles-main'>
    <div class='article-container-lead' (click)='handleOpenArticle(0)'>
      <div class='txt-center'><h2>Newest Article</h2></div>
      <hr />
      <p class='article-date'>{{articlesTop[0]?.date}}</p>
      <br />
      <h4 class='article-title'>{{articlesTop[0]?.title}} - <span class='lead-excerpt'>{{articlesTop[0]?.excerpt}}</span></h4>
      <div class='article-lead' innerHTML={{articlesTop[0]?.content}}></div>
      <div class='fadeout'></div>
    </div>
  </div>
</div>

<div class='articles-body'>
  <div class='articles-main'>
    <div *ngFor='let article of articlesTop.slice(1); let i = index' class='article-container' (click)='handleOpenArticle(i + 1)'>
      <p class='article-date'>{{article.date}}</p>
      <br />
      <h4 class='article-title'>{{article.title}}</h4>
      <p class='article-excerpt'>{{article.excerpt}}</p>
      <div class='article-lead' innerHTML={{article.content}}></div>
      <div class='fadeout'></div>
    </div>
  </div>
</div>
