<div class='articles-header'>
  <div>
    <span labelFor='sorter'>Sort By </span>
    <!-- <select id='sorter'>
      <option>By Date Ascending</option>
      <option>By Date Descending</option>
      <option>By Most Popular</option>
      <option>By Trending</option>
    </select> -->
    <mat-select [(ngModel)]='options' placeholder='Placeholder'>
      <mat-option *ngFor='let option of options' [value]='options.value' >
        {{option.viewValue}}
      </mat-option>
    </mat-select>
  </div>
  <div class='articles-main'>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
  </div>
</div>

<div class='articles-body'>
  <div class='articles-main'>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
    <div class='article-container'>
      <p class='article-date'>03/02/2018</p>
      <img src='assets/images/logoFull.png' class='article-image'>
      <br />
      <h4 class='article-title'>Title goes here</h4>
      <p class='article-lead'>Article lead goes here. It can be a total of maybe this many characters? Or a few more...Yeah, this many.</p>
    </div>
  </div>
</div>