<h1 mat-dialog-title style="height:40px;">
  <span *ngIf="create">Create Article</span>
  <span *ngIf="!create">Edit Article</span>
  <button mat-icon-button class="f-right" (click)="goToFullscreen()">
    <mat-icon aria-label="fullscreen" matTooltip="Fullscreen" matTooltipPosition="before">fullscreen</mat-icon>
  </button>
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']">
      <mat-error *ngIf="form.controls['title'].hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
        Title is cannot exceed 50 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']">
      <mat-error *ngIf="form.controls['name'].hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="form.controls['name'].hasError('maxlength')">
        Name is cannot exceed 50 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput [matDatepicker]="pickerDate" [formControl]="form.controls['date']" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerDate></mat-datepicker>
      <mat-error *ngIf="form.controls['date'].hasError('required')">
        Date is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="Type" value='post' type="text" [formControl]="form.controls['type']">
      <mat-error *ngIf="form.controls['type'].hasError('required')">
        Type is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Excerpt" type="text" [formControl]="form.controls['excerpt']">
      <mat-error *ngIf="form.controls['excerpt'].hasError('maxlength')">
        Excerpt is cannot exceed 80 characters
      </mat-error>
    </mat-form-field>
    <quill-editor [formControl]="form.controls['content']" [options]="quillOptions" (blur)="onEditorBlured($event)" (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Ok</button>
    <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
