<h1 mat-dialog-title>
  <span *ngIf="create">Create Playlist</span>
  <span *ngIf="!create">Edit Playlist</span>
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']" [(ngModel)]="data.playlist.title">
      <mat-error *ngIf="form.controls['title'].hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
        Title is cannot exceed 25 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Url" type="url" [formControl]="form.controls['url']" [(ngModel)]="data.playlist.url">
      <mat-error *ngIf="form.controls['url'].hasError('required')">
        Url is required
      </mat-error>
      <mat-error *ngIf="form.controls['url'].hasError('pattern')">
        Url must be a valid url format
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="savePlaylist()" [disabled]="!form.valid" color="primary">Ok</button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</div>
