<div id="top" class="layout-row">
  <div class="flex-5 flex-gt-xs-15"></div>
  <div class="flex-90 flex-gt-xs-70 txt-center p-50">

    <mat-card *ngIf="data?.error">
      <h1>ERROR {{ data?.error}}</h1>
      <h5 *ngIf="data?.error === 404">Not found :(</h5>
      <button mat-raised-button [routerLink]="'/'">
        Go Home
      </button>
    </mat-card>

    <mat-card *ngIf="routeParams.message">
      <h1 *ngIf="routeParams?.status"> ERROR {{ routeParams?.status }}</h1>
      <br/>
      <h3 *ngIf="routeParams?.message">{{ routeParams?.message }}</h3>
      <br/>
      <h1 *ngIf="routeParams?.url && routeParams?.url !== '/'">Error in {{ routeParams?.url | uppercase }} page, sorry {{ routeParams?.user }} :(</h1>
      <h4 *ngIf="routeParams?.id">This error has been reported to the Administrator with the ID:
        <br> {{ routeParams?.id}}</h4>
      <button mat-raised-button [routerLink]="routeParams?.url" *ngIf="routeParams?.url && routeParams.status !== '404'">
        Go Back to {{routeParams?.url}}
      </button>
      <button mat-raised-button routerLink="/" *ngIf="!routeParams.url || routeParams.status === '404'">
        Go Home
      </button>
    </mat-card>

    <mat-card *ngIf="!routeParams && !data">
      <h1>Unknown error, sorry :(</h1>
      <button mat-raised-button [routerLink]="'/login'">
        Go Home
      </button>
    </mat-card>

    <!-- <div class="pre-container" *ngIf="routeParams?.message">
    <p>Error sent to the server</p>
    <pre>
      {{ this.routeParams | json }}
    </pre>
  </div> -->
  </div>
  <div class="flex-5 flex-gt-xs-15"></div>
</div>
