<div class="layout-row">
  <div class="flex-5 flex-gt-xs-15"></div>
  <div class="flex-90 flex-gt-xs-70 mat-elevation-z4">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Content</span>
        <span class="spacer"></span>

        <!-- Video Functions -->
        <button mat-raised-button *ngIf="tabIndex == 0 && video_selection.selected.length > 0" color="primary" (click)="videoDialog(false)" class="button">
          Edit
        </button>
        <button mat-raised-button *ngIf="tabIndex == 0" color="accent" (click)="videoDialog(true)" class="button">
          Create
        </button>

        <!-- Article Functions -->

      </mat-toolbar-row>
    </mat-toolbar>
    <mat-tab-group (selectedTabChange)="tabChanged($event)" (selectedIndexChange)="_setDataSource($event)">
      <mat-tab label="VIDEOS">
        <div class="form-padding">
          <div class="layout-column layout-gt-sm-row">
            <div class="full-width">
              <div class="header">
                <mat-form-field>
                  <input matInput (keyup)="applyVideoFilter($event.target.value)" placeholder="Filter Videos">
                </mat-form-field>
              </div>
              <mat-table #table matSort [dataSource]="video_dataSource">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    &nbsp;
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? video_selection.toggle(row) : null" [checked]="video_selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.description | truncate : 30 }} </mat-cell>
                </ng-container>

                <!-- Link Column -->
                <ng-container matColumnDef="link">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Link </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a href="{{element.link}}" target="_blank">Link</a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="video_displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: video_displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #video_paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ARTICLES">

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="flex-5 flex-gt-xs-15"></div>
</div>
