<div class="flex-100 layout-column layout-align-start-stretch">
  <!-- <header class='m-0a mt4 mb4 main-header pad-5 shadow'> -->
  <header class='m-0a main-header pad-5 shadow'>
    
    <div>
      <img src='assets/images/letterhead_yellow_website_L.png' class='img-responsive hide-md hide-lg hide-xl header-logo' />
      <img src='assets/images/letterhead_yellow_website_L.png' class='img-responsive hide-xs hide-sm header-logo-lg' />
    </div>
  </header>
  <!-- <div class='spacer'></div> -->

  <twitch-streams></twitch-streams>

  <main class='main-body pad-5'>
    <section id='recentvids'>
      <div class='section-title-container'>
        <div class='section-title'>
          Video Highlights
        </div>
      </div>
      <div class='recents hide-xs hide-sm layout-row layout-align-space-between-center'>
        <div class='recents' *ngFor="let video of videosTop">
          {{ video.title }}
          <div [innerHtml]="video.iframe_html"></div>
          <br />
        </div>
      </div>
      <div class='recents hide-md hide-lg hide-xl layout-row layout-align-space-between-center'>
        <div class='recents' *ngFor="let video of videosTop">
          {{ video.title.toUpperCase() }}
          <div [innerHtml]="video.iframe_html2"></div>
          <br />
        </div>
      </div>
    </section>

    <section id='articles'>
      <div class='section-title-container'>
        <div class='section-title'>
          Recent Articles
        </div>
      </div>
      <div *ngFor='let article of articlesTop; let i = index' class='home-article-container'>
        <div class='article-content'>
          <a [routerLink]="['/articles']" [queryParams]="{index: i}">
            <div class='img-card'><img width='100%' src='{{article.image}}'></div>
          </a>
          <div class='article-text'>
            <a class='article-title-link' [routerLink]="['/articles']" [queryParams]="{index: i}">
              <h3>{{article.title.toUpperCase()}}</h3>
            </a>
            <hr />
            <p class='article-date'>{{article.date}}</p>
            <p class='article-excerpt'>{{article.excerpt}}</p>
          </div>
        </div>
      </div>
      <div class='vertical-spacer'></div>
    </section>
  </main>
</div>
