  @import "../theme";
  :host {
    width: 100%;
  }

  header {
    height: 330px;
    background-color: mat-color($candy-app-primary);
    border-bottom: 1px solid mat-color($candy-app-accent, 500);
  }

  header>div {
    background-color: mat-color($candy-app-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23eeeeee' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  header h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
    text-shadow: mat-color($candy-app-accent) 1px 1px 4px;
  }

  header h3 {
    margin: .1em .25em;
    font-weight: bold;
    font-size: 28px;
  }

  .spacer {
    min-height: 40px;
    background-color: mat-color($candy-app-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23eeeeee' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-top: 1px solid mat-color($candy-app-accent);
    border-bottom: 1px solid mat-color($candy-app-accent);
  }

  .frame-container {
    background-color: #eee;
  }

  .frame {
    position: relative;
  }

  .frame img {
    vertical-align: bottom;
  }

  .fade {
    height: 100%;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 15%, rgba(238, 238, 238, 0) 85%, rgba(238, 238, 238, 1) 100%);
  }

  .img {
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #757575;
    max-width: 550px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
  }

  blockquote:nth-child(odd) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    text-align: left;
    border-left: 6px solid mat-color($candy-app-accent);
    border-radius: 12px;
  }

  blockquote:nth-child(even) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 6px solid mat-color($candy-app-accent);
    border-radius: 12px;
  }

  blockquote h2 {
    font-size: 2em !important;
    margin-bottom: 5px !important;
  }

  blockquote p {
    display: block;
    margin: 0;
    color: #777;
  }

  footer {
    width: 100%;
    background-color: mat-color($candy-app-accent);
  }

  footer>div {
    align-items: center;
  }

  footer .logo {
    font-size: 33px;
    line-height: 33px;
    font-weight: bold;
  }
