<div class="flex-100 layout-column layout-align-start-stretch">
  <header>
    <div>
      <img src='assets/images/logoFull.png' class='img-responsive header-logo w-25 flt-rt' />
    </div>
  </header>
  <main class='main-body pad-5'>
    <section id='carousel' class='mock-carousel'>
      <h2>Thinking about the following carousel:</h2>
      <a href='https://www.npmjs.com/package/ngx-carousel' target='_blank'>https://www.npmjs.com/package/ngx-carousel</a> looks pretty nice. Check out the
      <a href='https://sheikalthaf.github.io/ngx-carousel/' target='_blank'>DEMO </a> and let me know what you think.
    </section>
    <section id='recentvids'>
      <div class='section-title-container'>
        <div class='section-title'>
          Recent Videos
        </div>
      </div>
      <div class='mock-recents'>
        <div class='mock-card vid-box'>Recent Video Here</div>
        <div class='mock-card vid-box'>Recent Video Here</div>
        <div class='mock-card vid-box'>Recent Video Here</div>
        <span class="stretch"></span>
      </div>
      <!-- <div class='section-title-container'>
        <div class='section-title'>
          Test: vids from DB
        </div>
      </div>
      <div class='mock-recents'>
        <div class='mock-card vid-box' *ngFor="let video of videos">{{ video.title }}</div>
        <span class="stretch"></span>
      </div> -->
    </section>
    <section id='articles'>
      <div class='section-title-container'>
        <div class='section-title'>
          Articles Trending
        </div>
      </div>
      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>

      <div class='article-container'>
        <div class='mock-card flt-lt'>Article Image Here</div>
        <div class='mock-article-text'>Quisque mollis neque et felis fringilla lacinia.
          <br />
          <br /> Donec bibendum risus massa, at pretium risus ullamcorper eget.
          <br /> In hac habitasse platea dictumst. Vivamus condimentum tristique dolor, id bibendum neque. Vivamus consequat metus eget ipsum condimentum, eu fermentum felis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim suscipit, faucibus quam placerat, lobortis enim. Vivamus sapien sapien, luctus vehicula ullamcorper ac, malesuada egestas odio. Nulla mollis, risus at consequat volutpat, ex dolor consectetur nisi, sed dignissim elit nibh ac purus. Nam feugiat lacinia purus, id semper orci ornare a. Maecenas eu quam vitae purus pellentesque volutpat non nec eros. Curabitur imperdiet, nulla sit amet ornare tempor, quam augue auctor lectus.
        </div>
      </div>
    </section>
  </main>
</div>
<app-footer></app-footer>
