<div class="flex-100 layout-column layout-align-start-stretch">
  <header>
    <div>
      <img src='assets/images/logoFull.png' class='img-responsive header-logo w-25 flt-rt' />
    </div>
  </header>
  <main class='main-body'>
    <section id='carousel'>
      Put a damn carousel there
    </section>
    <section id='recentvids'>
      Put the damn recent vids here
    </section>
    <section id='articles'>
      Put the damn articles here
    </section>
  </main>
</div>
<app-footer></app-footer>
