<div id="top" class="layout-row">
  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="flex-5 flex-gt-xs-25"></div>
  <div class="flex-90 flex-gt-xs-50">
    <div class="layout-row">
      <div class="flex-offset-gt-sm-20 flex-100 flex-gt-sm-60 mat-elevation-z4">
        <mat-toolbar>
          <mat-toolbar-row>
            <span>Login to get started...</span>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-progress-bar mode="indeterminate" *ngIf="working"></mat-progress-bar>
        <form [formGroup]="form" class="form-padding">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" type="email" [formControl]="form.controls['email']" [disableControl]="working">
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">
              Email is formatted incorrectly
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width m-v-15">
            <input matInput placeholder="Password" type="password" [formControl]="form.controls['password']" [disableControl]="working">
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <div class="layout-row layout-align-space-between-center">
            <button mat-raised-button [routerLink]="['/register']" color="warn">Register</button>
            <button mat-raised-button (click)="login()" [disabled]="!form.valid" color="primary">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="layout-row">
      <div class="flex-offset-gt-sm-20 flex-100 flex-gt-sm-60 txt-center">
        <h5>OR</h5>
        <button mat-raised-button (click)="auth.googleLogin()" color="primary">
          Google Login
        </button>
        <button mat-raised-button (click)="auth.facebookLogin()" color="primary">
          Facebook Login
        </button>
      </div>
    </div>
  </div>
  <div class="flex-5 flex-gt-xs-25"></div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="flex-5 flex-gt-xs-15"></div>
  <div class="flex-90 flex-gt-xs-70">
    <div *ngIf="auth.user$ | async as user">
      <div class="layout-row layout-align-start-start" style="min-width: 1100px">
        <div class="flex-25">
          <img [src]="user.photoURL || 'assets/avatar.svg'" width="250" class="photo" />
          <h1 class="names">
            <span class="fullname">{{ user.displayName }}</span>
            <span class="email">{{ user.email }}</span>
          </h1>
          <div class="settings" *ngIf="profile">
            <form [formGroup]="mailingForm">
              <mat-slide-toggle [formControl]="mailingForm.controls['mailingList']" [(ngModel)]="profile.mailing">Mailing List</mat-slide-toggle>
            </form>
          </div>
          <div *ngIf="user.roles?.admin" class="signout">
            <button mat-button [routerLink]="['/admin']" color="primary">
              <span class="mat-button-wrapper">
                <span>Admin</span>
                <mat-icon aria-label="Contact">settings</mat-icon>
              </span>
            </button>
          </div>
          <div class="signout">
            <button mat-button (click)="auth.signOut()" color="warn">
              <span class="mat-button-wrapper">
                <span>Sign Out</span>
                <mat-icon aria-label="Contact">exit_to_app</mat-icon>
              </span>
            </button>
          </div>
        </div>
        <div class="flex-75">
          <h3>
            My Roles
          </h3>
          <mat-chip-list>
            <mat-chip *ngIf="user.roles?.subscriber" color="accent"> Subscriber </mat-chip>
            <mat-chip *ngIf="user.roles?.editor" color="primary"> Editor </mat-chip>
            <mat-chip *ngIf="user.roles?.admin" color="warn"> Admin </mat-chip>
          </mat-chip-list>
          <h3>
            My Articles
          </h3>
          <p *ngIf="articles.length == 0">
            You currently have no articles
          </p>
          <mat-list *ngIf="articles.length > 0">
            <mat-list-item *ngFor="let article of articles">
              <mat-icon mat-list-icon>assignment</mat-icon>
              <h4 mat-line>{{article.title}}</h4>
              <p mat-line>{{article.date}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-5 flex-gt-xs-15"></div>
</ng-template>
