@import "../theme";
.spacer {
  flex: 1 1 auto;
}

#top {
  margin-top: 3rem;
}

@media (max-width:720px) {
  #top {
    margin-top: 4rem;
  }
}

.mat-toolbar {
  background-color: mat-color($candy-app-primary, 200);
}

.mat-tab-group {
  background-color: mat-color($candy-app-accent, 100);
}

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.photo {
  border-radius: 6px !important;
}

.names {
  line-height: 1;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 250px;
}

.details {
  line-height: 1;
  margin: 0;
  padding-bottom: 15px;
  max-width: 250px;
}

.details .mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  vertical-align: middle;
}

.fullname {
  font-size: 26px;
  width: 100%;
  font-weight: bold;
  cursor: text;
  height: 38px;
  line-height: 38px;
  padding-left: 2px;
}

.fullname-edit {
  font-size: 26px;
  width: 100%;
  font-weight: bold;
}

.phone {
  font-size: 20px;
  width: 100%;
  font-weight: 300;
  cursor: text;
  height: 30px;
  line-height: 30px;
  padding-left: 2px;
}

.phone-edit {
  font-size: 20px;
  width: 100%;
  font-weight: 300;
}

.info {
  line-height: 1;
  margin: 0;
  padding: 15px 0 15px 0;
  max-width: 250px;
  overflow-x: hidden;
  border-top: 1px #e1e4e8 solid !important;
}

.info .mat-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
  vertical-align: middle;
}

.email {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #666;
}

.volunteer-msg {
  font-size: 12px;
  vertical-align: super;
  font-weight: 300;
  margin-left: 5px;
}

.signout {
  text-align: right;
  max-width: 250px;
}
