@import "../theme";
.spacer {
  flex: 1 1 auto;
}

.form-padding {
  padding: 2em;
  background-color: mat-color($candy-app-primary, 100);
}

.mat-selection-list {
  padding-top: 0 !important;
}

.mat-toolbar button {
  margin: 0 8px;
}

.mat-toolbar button:last-of-type {
  margin-right: 0;
}
