
.header-logo-lg {
  max-width: 60vw;
}
.vids-nav {
  max-width: 1600px;
  width: 100vw;
  margin: 1rem auto 0;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #F00;
  height: 2rem;
  line-height: 2rem;
}
.vid-nav-btn {
  cursor: pointer;
  padding: 0 1rem;
}
.vid-nav-btn:hover {
  color: #F00;
}
.nav-title {
  padding: 0 2rem;
  display: inline;
}
.nav-title ul, .nav-title li {
  display: inline;
}
.vids-body {
  max-width: 1600px;
  width: 100vw;
  margin: 0 auto 1rem;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.vids-main {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
.vids-main > div {
  width: 20rem;
  flex-grow: 1;
  margin: 0;
  text-align: center;
  padding: 1rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}
.vids-main > div:hover {
  background-color: #2e2e2e;
}
.vids-body iframe {
  max-width: 100%;
}
.vids-iframe-container {
  height:100%;
  min-width: 100%;
}
.vids-title {
  margin: 0 auto;
}

.vid-title-container {
  height: 2rem;
  line-height: 1rem;
  text-align: center;
}
.vid-series-container {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
}

.vid-container {
  box-sizing: border-box;
  flex-grow: 1;
}
.vid-container-head {
  background-color:rgb(27, 27, 27) !important;
  border: 1px solid rgb(27, 27, 27) !important;
  color: #fff;
}

.vid-image {
  max-width: 80%;
  margin:0;
}
.vid-title {
  width: 100%;
  font-size: 1.5;
  margin:0;
}
.vid-lead {
  width: 100%;
  text-align: left;
}